span {
  display: inline-block;
}
body {
    text-align: center;
    background-color: gold;
}

span {
  display: inline-block;
  background-color: lightblue;
  padding: 5px;
  border: 1px solid darkgray;
  margin: auto;
} 

#icons {
  margin: auto;
  font-size: 40px;
  text-align: center;
  width: 520px;
  border: 2px solid darkred;
  padding: 10px;
}

nav {
    background-color: mintcream;
    padding: 5px;
    margin: auto; 
    width: 530px;
    border: 2px solid lightcoral;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: fuchsia;
} 


/* 
#one {
  background-color:lightblue;
  width: 150px;
  height: 200px;
}

#two {
  background-color: cornflowerblue;
  width: 200px;
  height: 50px;
}

#three {
  background-color: rgb(187, 189, 243);
  width: 175px;
  height: 150px;
} */

/* div,
span {
  margin: 1px;
}

span {
  border: 1px solid #333;
  
  padding: 10px 15px;
}

#pics span,
#text span {
  padding: 25px 30px;
}

#text span {
  background-color: white;
} */